body {
    
}

h1 {
    color: #ffffff;
    opacity: 1;
}

.italTitle {
    font-style: italic;
    font-weight: bold;
    font-size: 400%;
    color: #ffffff;
}

.bg-block-override {
    background-color: #648ba4;
}

.textColour {
    color: #536a7d;
}